body {
    padding:20px;
    /*display: flex;*/
}

.submissions-box {
    height: 231px;
    padding: 5px;
}

.submission-columns {
   -moz-column-count: 3;
   -moz-column-gap: 20px;
   -webkit-column-count: 3;
   -webkit-column-gap: 20px;
   height: 80%;
}
.submissions-title {
    height: 20%;
}

.boggle-board {
    border: 1px solid #27ae60;
}

.boggle-row {
    margin-bottom: -6px;
}

.boggle-tile {
    font-family: Helvetica;
    font-weight: bold;
    font-size: 1.7em;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select:none;
    user-select:none;
}
.no-click {
    pointer-events: none;
}

.hidden {
    font-size: 0;
    visibility: hidden;
    display: none;
}
.overlay-bg {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:rgba(0, 0, 0, 0.85);
    background: black repeat scroll transparent\9; /* ie fallback png background image */
    z-index:9999;
}
.display-flex {
    display: flex;
}
.margin-auto {
    margin: auto;
}

.final-score {
    height: 300px;
    width: 50%;
    background-color: white;
}

.inset-contents {
    margin-top: 50px;
}

/* container for box */
.box-transform-container {
    perspective: 700;
    display: inline-block;
    margin: 1px;
    z-index: 999;
}

.box {
    width: 58px;
    height: 58px;
    position: relative;
    transform-style: preserve-3d;
    transition: all 0.2s ease-out;
    transform-origin: 30px 30px -30px;
}
/* select and unselect class goes on box class */
.select {
    transform: rotateY(-90deg);
}
.unselect {
    transform: rotateY(0deg);
}

/* each box contains front face and side face */
.face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: visible; 
    transform-origin: 0 0;
    padding-top: 11px;
}

.front {
    color: #2980b9;
    transform: rotateY(0deg);
    z-index: 2;
}
.side {
    transform: rotateY(90deg);
    z-index: 1;
    left: 60px;
    background-color: #3498db;
    color: white;
}

