<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <script type="text/javascript" src="../static/js/react-with-addons.min.js"></script>
  <script type="text/javascript" src="../static/js/jsxTransformer.js"></script>
  <script type="text/javascript" src="../static/js/jquery-1.10.0.min.js"></script>
  <script type="text/javascript" src="../static/js/underscore.min.js"></script>
  <!-- <script src="http://fb.me/react-0.12.1.js"></script> -->
  <!-- <script src = "http://cdnjs.cloudflare.com/ajax/libs/react/0.12.1/react-with-addons.min.js"></script>
  <script src="http://fb.me/JSXTransformer-0.12.1.js"></script>
  <script src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script> -->
</head>
<body>
<div id="content"></div>
<style type="text/css">
  .boggle-tile {
    font-family: Helvetica;
    font-weight: bold;
    font-size: 1.3em;
    color: #2980b9;
    display: inline-block;
    height: 20px;
    width: 20px;
    padding:10px;
    border: 1px solid #34495e;
    text-align: center;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select:none;
    user-select:none;
  }
  .boggle-tile-selected {
    background-color: #3498db;
    color: white;

  }
</style>
<script type="text/jsx">
var cx = React.addons.classSet;

var BoggleBoard = React.createClass({
  getInitialState: function() {
    return({
      letterHistory: [],
      submittedWords: [],
      finalScore: 0
    })
  },
  selectNewLetter: function(latestLetter) {
      this.setState({ letterHistory: this.state.letterHistory.concat([latestLetter]) });
  },
  unselectLastLetter: function() {
      this.setState({ letterHistory: _.initial(this.state.letterHistory) });
  },
  makeWordFromHistory: function() {
    var submission = [];
    var _this = this;
    this.state.letterHistory.forEach(function(letter) {
      submission.push(letter.state.letter);
    })
    var word = submission.join("");
    return submission;
  },
  handleSubmit: function() {
    if(this.state.letterHistory.length < 3){
    }
    else {
      var _this = this;
      submission = this.makeWordFromHistory()
      $.post('/check_word', {word: submission.join("")}, function(isWord){
        if(isWord === "True"){
          var submissionState = _this.state.submittedWords;
          submissionState.push(submission);
          _this.setState({
            letterHistory: [],
            submittedWords: submissionState
          });
        }
        else{
           _this.setState({
            letterHistory: [],
           });
        }
      });
    }
  },
  scoreWord: function(wordArray) {
    var wordScore = 0;
    var wordLength = wordArray.length;
    if(wordLength >= 3) {
      wordScore = 1;
      if(wordLength > 4) {
        wordScore = wordScore + (wordLength - 4);
      }
    }
    return wordScore;
  },
  handleFinalSubmit: function() {
    var finalScore = 0;
    var _this = this;
    this.state.submittedWords.forEach(function(wordArray) {
      finalScore = finalScore + _this.scoreWord(wordArray);
    })
    this.setState({finalScore: finalScore,
                   submittedWords: []});
  },
  render: function() {
    console.log("letter history", this.state.letterHistory)
    var numRows = 5,
        numCols = 5,
        rows = [],
        tiles = tileSet(),
        _this = this;
    _.range(numRows).forEach(function(num){
      rows.push(<BoggleRow selectNewLetter={_this.selectNewLetter}
                           unselectLastLetter={_this.unselectLastLetter}
                           letterHistory={_this.state.letterHistory}
                           rowNum={num}
                           numCols={numCols}
                           tiles={tiles[num]} />)
    })
    return (
      <div className="full-board">
        <div className="boggle-board">
        {rows}
        </div>
        <button onClick={this.handleSubmit}>Submit</button>
        <SubmissionsBox submissions={this.state.submittedWords} />
        <button onClick={this.handleFinalSubmit}>Score me</button>
      </div>
    )
  }

});

var SubmissionsBox = React.createClass({
  render: function() {
    var submissions = [];
    this.props.submissions.forEach(function(word) {
      submissions.push(<div>{word}</div>)
    })
    return(
      <div className="boggle-submissions">Submissions: {submissions}</div>
      )
  }
})

var BoggleRow = React.createClass({
  render: function() {
    var rowTiles = [];
    var _this = this;
    _.range(this.props.numCols).forEach(function(num) {
      rowTiles.push(<BoggleTile selectNewLetter={_this.props.selectNewLetter}
                                unselectLastLetter={_this.props.unselectLastLetter}
                                letterHistory={_this.props.letterHistory}
                                rowNum={_this.props.rowNum}
                                colNum={num}
                                tile={_this.props.tiles[num]} />)
    })
    return(
      <div className="boggle-row">{rowTiles}</div>
    )
  }
})

var BoggleTile = React.createClass({
  getInitialState: function() {
    var randNum = Math.floor(Math.random() * (5 - 0 + 1)) + 0; //random int from 0-5
    return({
      letter: this.props.tile[randNum].toUpperCase(),
    })
  },
  checkAdjacency: function(latestLetter) {
    var currRow = this.props.rowNum;
    var currCol = this.props.colNum;
    var latestRow = latestLetter.props.rowNum;
    var latestCol = latestLetter.props.colNum;

    var sameRow = currRow === latestRow;
    var sameCol = currCol === latestCol;

    var adjRow = currRow === latestRow + 1 || currRow === latestRow - 1;
    var adjCol = currCol === latestCol + 1 || currCol === latestCol - 1;

    var horizAdj = sameRow && adjCol;
    var vertAdj = sameCol && adjRow;
    var diagAdj = adjRow && adjCol;

    return horizAdj || vertAdj || diagAdj;
  },
  shouldSelect: function() {
    var latestLetter = _.last(this.props.letterHistory)
    var isAdjacent = this.checkAdjacency(latestLetter);
    var isNotAlreadySelected = !(_.contains(this.props.letterHistory, this));
    return isAdjacent && isNotAlreadySelected;
  },
  shouldUnselect: function() {
    var latestLetter = _.last(this.props.letterHistory)
    var isSelectedButAlsoLastLetter = _.contains(this.props.letterHistory, this) &&
                                      this.props.rowNum === latestLetter.props.rowNum &&
                                      this.props.colNum === latestLetter.props.colNum
    return isSelectedButAlsoLastLetter;
  },
  handleClick: function() {
    if(this.props.letterHistory.length >= 1) {
      if(this.shouldSelect()) {
        this.props.selectNewLetter(this);
      }
      else if (this.shouldUnselect()) {
        this.props.unselectLastLetter();
      }
    }
    else{
        //handles first click, there doesn't need to be checks
        this.props.selectNewLetter(this);
    }
  },
  render: function() {
    var classes = cx({
      'boggle-tile': true,
      'boggle-tile-selected': _.contains(this.props.letterHistory, this)
    });
    return (
      <div className={classes} onClick={this.handleClick} data-row-num={this.props.rowNum} data-col-num={this.props.colNum} >
        {this.state.letter}
      </div>
    );
  }
});

var tileSet = function(){
var tiles = [["a","a","a","f","r","s"],
            ["a","a","e","e","e","e"],
            ["a","a","f","i","r","s"],
            ["a","d","e","n","n","n"],
            ["a","e","e","e","e","m"],
            ["a","e","e","g","m","u"],
            ["a","e","g","m","n","n"],
            ["a","f","i","r","s","y"],
            ["b","j","k","q","x","z"],
            ["c","c","e","n","s","t"],
            ["c","e","i","i","l","t"],
            ["c","e","i","l","p","t"],
            ["c","e","i","p","s","t"],
            ["d","d","h","n","o","t"],
            ["d","h","h","l","o","r"],
            ["d","h","l","n","o","r"],
            ["d","h","l","n","o","r"],
            ["e","i","i","i","t","t"],
            ["e","m","o","t","t","t"],
            ["e","n","s","s","s","u"],
            ["f","i","p","r","s","y"],
            ["g","o","r","r","v","w"],
            ["i","p","r","r","r","y"],
            ["n","o","o","t","u","w"],
            ["o","o","o","t","t","u"]]

  var shuff_tiles = _.shuffle(tiles);
  var arrays = [],
      size = 5;

  while (shuff_tiles.length > 0)
      arrays.push(shuff_tiles.splice(0, size));
  return arrays
}

tileSet();
React.render(
  <BoggleBoard />,
  document.getElementById('content')
);


</script>

</body>
</html>