<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>ZOMG BOGGLE</title>
  <link href='../static/css/style.css' rel='stylesheet' type='text/css'>
  <link href='../static/css/bourbon.css/style.css' rel='stylesheet' type='text/css'>

</head>
<body>
  <div class="cards">
  <a href="/one_player"><div class="card">
    <div class="card-image">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png" alt="">
    </div>
    <div class="card-header">
      One Player?
    </div>
    <div class="card-copy">
      <p>And then there was one.</p>
    </div>
  </div></a>

  <a href="/two_player"><div class="card">
    <div class="card-image">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains-4.png" alt="">
    </div>
    <div class="card-header">
      Two Player?
    </div>
    <div class="card-copy">
      <p>Two two two clever phrase</p>
    </div>
  </div></a>
</div>

</body>
</html>