<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link href='../static/css/style.css' rel='stylesheet' type='text/css'>
  <link href='../static/css/bourbon.css/style.css' rel='stylesheet' type='text/css'>

</head>
<body>
  <body>
  <div class="card">
    <div class="card-image">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png" alt="">
    </div>
    <div class="card-header">
      Your code is XYZ.
    </div>
    <div class="card-copy">
      <p>Tell your friend, and they can join too!</p>
      <p>WAITING.....</p>
    </div>
  </div>
</body>
</html>